.card {
  border: 1px solid #fefefe;
  background-color: #fff7f8;
  box-shadow: 6px 17px 20px -27px rgba(0,0,0,0.75);
  border-radius: 6px;
  margin: 20px;
  padding: 10px;
}

.real-card {
  border: 1px solid #fefefe;
  background-color: #9ff5de;
  box-shadow: 6px 17px 20px -27px rgba(0,0,0,0.75);
  border-radius: 6px;
  margin: 20px;
  padding: 10px;
}

.props-card {
  border: 1px solid #fefefe;
  background-color: #a5ffa3;
  box-shadow: 6px 17px 20px -27px rgba(0,0,0,0.75);
  border-radius: 6px;
  margin: 20px;
  padding: 10px;
}

